.vs/
Samples/voltageActivitySample/__vm/
Samples/voltageActivitySample/src/
Samples/voltageActivitySample/obj/
Samples/SerialFrameworkSample/SerialFrameworkSample/obj/
Samples/SerialFrameworkSample/SerialFrameworkSample_Test/x64/
Samples/SerialFrameworkSample/SerialFrameworkSample/__vm/
Samples/x64/

Samples/SerialFrameworkSample/SerialFrameworkSample_Test/SerialFrameworkSample_Test.vcxproj.user
